@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 700px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.spanCima{
    background: linear-gradient(90deg, #639301, #A5E82E);
    width: 70px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #000;
    text-align: center;
    font-size: 25px;
    margin: 5px;
}